#PIN MAP OF U5 on 8MB SRAM Board Verison 2


#------ OUTPUTS ------------------------------------------------------

NET "BS"    		LOC =  "P28"; 	#Board Slecet LED
NET "BS_N"    		LOC =  "P27"; 	#Board Slecet - active low

NET "RD8"    		LOC =  "P99";   #
NET "WR8"    		LOC =  "P97";   #
NET "RD16"    		LOC =  "P96";   #
NET "WR16"    		LOC =  "P95";   #

NET "CS7_LED"    	LOC =  "P87";   #RAM Bank 7 LED
NET "CS6_LED"    	LOC =  "P89";   #RAM Bank 6 LED
NET "CS5_LED"    	LOC =  "P90";   #RAM Bank 5 LED
NET "CS4_LED"    	LOC =  "P91";   #RAM Bank 4 LED
NET "CS3_LED"    	LOC =  "P92";   #RAM Bank 3 LED
NET "CS1_LED"    	LOC =  "P93";   #RAM Bank 1 LED
NET "CS0_LED"    	LOC =  "P94";   #RAM Bank 0 LED

#NET "SIXTNb"    	LOC =  "P9";   	#active high - 16bit data transfer handshake signal from slave to master (s100 Pin 60)


NET "DBUSOUTEN"    	LOC =  "P13";   #to U19 (8bit)Data Output BIffer
NET "DBUSOUTDIR"    	LOC =  "P18";   #to U19 (8bit)Data Output BIffer
NET "DBUSINEN"    	LOC =  "P20";   #to U22 (8bit)Data Input BIffer
NET "DBUSINDIR"    	LOC =  "P14";   #to U22 (8bit)Data Input BIffer
NET "B"    				LOC =  "P8";   #to U31 Bridge BUffer active low (Odd data bus will flow to Even Bus)

NET "EVENRAM_CS0"    	LOC =  "P56";   #RAM Bank 0 EVEN CS - active low
NET "EVENRAM_CS1"    	LOC =  "P58";   #RAM Bank 1 EVEN CS - active low
NET "EVENRAM_CS2"    	LOC =  "P59";   #RAM Bank 2 EVEN CS - active low
NET "EVENRAM_CS3"    	LOC =  "P60";   #RAM Bank 3 EVEN CS - active low
NET "EVENRAM_CS4"    	LOC =  "P61";   #RAM Bank 4 EVEN CS - active low
NET "EVENRAM_CS5"    	LOC =  "P63";   #RAM Bank 5 EVEN CS - active low
NET "EVENRAM_CS6"    	LOC =  "P64";   #RAM Bank 6 EVEN CS - active low
NET "EVENRAM_CS7"    	LOC =  "P65";   #RAM Bank 7 EVEN CS - active low
#NET "EVENRAM_CS7"    	LOC =  "P81";   #RAM Bank 7 EVEN CS - active low

NET "ODDRAM_CS0"    	LOC =  "P66";   #RAM Bank 0 ODD CS - active low
NET "ODDRAM_CS1"    	LOC =  "P67";   #RAM Bank 1 ODD CS - active low
NET "ODDRAM_CS2"    	LOC =  "P68";   #RAM Bank 2 ODD CS - active low
NET "ODDRAM_CS3"    	LOC =  "P70";   #RAM Bank 3 ODD CS - active low
NET "ODDRAM_CS4"    	LOC =  "P71";   #RAM Bank 4 ODD CS - active low
NET "ODDRAM_CS5"    	LOC =  "P72";   #RAM Bank 5 ODD CS - active low
NET "ODDRAM_CS6"    	LOC =  "P74";   #RAM Bank 6 ODD CS - active low
NET "ODDRAM_CS7"    	LOC =  "P50";   #RAM Bank 7 ODD CS - active low

NET "EVENBANK_WE"    LOC =  "P53";   #EVEN RAM Bank WE - active low
NET "ODDBANK_WE"    	LOC =  "P55";   #ODD RAM Bank WE - active low
NET "EVENBANK_OE"    LOC =  "P52";   #EVEN RAM Bank OE - active low
NET "ODDBANK_OE"    	LOC =  "P54";   #ODD RAM Bank OE - active low


#NET "CPLD76"    	LOC =  "P76";   #CPLD Pin 76
#NET "CPLD77"    	LOC =  "P77";   #CPLD Pin 77
#NET "CPLD78"    	LOC =  "P78";   #CPLD Pin 78
#NET "CPLD79"    	LOC =  "P79";   #CPLD Pin 79
NET "CPLD82"    	LOC =  "P82";   #CPLD Pin 82
NET "CPLD85"    	LOC =  "P85";   #CPLD Pin 85

#------ INPUTS -------------------------------------------------------

#NET "M1b"    		LOC =  "P16";   #sM1 active high when processor is in instruction fetch
NET "NDEF2b"    	LOC =  "P15";   #active low - MREQ Memory Reguest Signal (s100 Pin 65)
NET "SOUTb"    	LOC =  "P25";   #active high - I/O WR (s100 Pin 45)
NET "SINPb"    	LOC =  "P17";   #active high - I/O RD (s100 Pin 46)
NET "SINTAb"    	LOC =  "P1";   #active high - INTERRUPT ACK (s100 Pin 96)
NET "pDBIN"    	LOC =  "P23";  #active high - when processor Reads from I/O or MEM (s100 Pin 78)
NET "SXTRQb"    	LOC =  "P22";  #active low -  low = 16bit data transfer / high = 8bit transfer from master (s100 Pin 58)
NET "pWR"    		LOC =  "P4";   #active low - when processor Writes to I/O or MEM (s100 Pin 77)
NET "sMEMR"    	LOC =  "P3";   #active high - MEM RD (s100 Pin 47)

NET "bA0"    		LOC =  "P6";   	#
NET "bA20"    		LOC =  "P30";   #
NET "bA21"    		LOC =  "P32";   #
NET "bA22"    		LOC =  "P33";   #
NET "bA23"    		LOC =  "P35";   #

NET "IC3gr"    	LOC =  "P29";   #74HC682 IC3 greater than - active low
NET "IC3eq"    	LOC =  "P12";   #74HC682 IC3 equal to - active low
NET "IC2gr"    	LOC =  "P11";   #74HC682 IC2 greater than - active low
NET "IC2eq"    	LOC =  "P10";   #74HC682 IC2 equal to - active low




