#PIN MAP OF U20 RS232 Serial Flash Board Verison 1


#------ OUTPUTS ------------------------------------------------------

NET "D2"    		LOC =  "P7"; 	# LED D2
NET "D3"    		LOC =  "P6"; 	# LED D3


#------ INPUTS -------------------------------------------------------






